=render 'shared/header'
.hero-block.search-block
  .ex-background.background-search-page
  .hero-block-text
    h1
      |Business Is Hard.
      br
      | We're Here to Help

    = form_tag "/search", class: "ex-search-form search-form", method: "get"  do |f|
      =text_field_tag :search, @search,class: "form-control", placeholder: "What do you need help with?"
      button.btn.default.btn-success type="submit" Search

    h3 Find verified Experts for everything from accounting and tax, to IT and marketing
.container
  .row
    .col-xs-12
      h4.ex-page-title Experts
  .row
    = render @users
