.row.start-xs.chat-item-cont
  .col-xs-2
    - if message.user.expert?
      .ex-contact
        -if message.user.avatar.blank?
          =image_tag "default-profile-img.png", class: "ex-avatar"
        -else
          =image_tag message.user.avatar, class: "ex-avatar"
  .col-xs-2
    p.ex-default-label #{message.message_date}
    p.ex-default-label #{message.message_time}
  .col-xs-8
    div class="chat-message message-from-#{message.user.role} ex-card-box"
      p #{nl2br(message.body)}
