.remodal.modal data-remodal-id="message-form" data-remodal-options="hashTracking: false"
  button.remodal-close data-remodal-action="close"
  =semantic_form_for(@message ||= Message.new, url: user_messages_path(@user), remote: true, :html => {class: "message-modal-form", role: :form,:'data-type' => 'json',:'data-user-id' => @user.id, :enctype => "multipart/form-data"}) do |f|
    .row
      .col-xs-12
        h1 Message #{@user.fullname}
        =f.input :body, as: "text", input_html: {class: "form-control", rows: "9"}, label: false
    .row
      .col-xs-8
        -if @conversation.messages_count > 0
          p.text-left
            | You've contacted this Expert before.
            = link_to('View previous messages', conversation_path(@conversation), :'data-no-turbolink' => 'true')
      .col-xs-4
        button.btn.btn-success type="submit" Send Message

javascript:
  $('#message_body').val(message_store.getMessage(#{@user.id}))
