.ex-card-box.full-profile
  .row.start-xs
    .col-xs-12.col-sm-4
      .full-profile-avatar-box
        -if user.avatar.blank?
          =image_tag "default-profile-img.png", class: "ex-avatar"
        -else
          =image_tag user.avatar, class: "ex-avatar"
      - if can? :see_contacts, user
        h3 Contacts
        .full-profile-contacts
          .ex-default-label
            i.fa.fa-envelope-o
            | #{user.email}
          -if !user.phone.blank?
            .ex-default-label.mobile
              i.fa.fa-mobile
              | #{user.phone}
    .col-xs-12.col-sm-8.full-profile-description
      .full-profile-header-box
        h1.full-profile-name
          | #{user.fullname}
          .ex-badge.ex-role-badge #{user.role}
        .ex-italic-label
          | #{placeholder_if_empty(user.position, "Current Role")}
        .ex-circle-meta
          | 9.3
          .ex-circle-meta-label rating

      .full-profile-box
        h3 Key expertise:
        p #{placeholder_if_empty(user.keywords)}
      .full-profile-box
        h3 About me:
        p #{nl2br(placeholder_if_empty(user.description))}
