=render 'shared/header'
.ex-background.account-pages
.auth-wrapper
  = render 'devise/form_header'
  .ex-card-box.strong-shadow
    .text-center
      h4.text-uppercase.form-header Sign Up
    =semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "no-json-form"}) do |f|
      =f.input :email, input_html: {class: "form-control", placeholder: "Email"}, label: false
      =f.input :password, input_html: {class: "form-control", placeholder: "Password"}, label: false
      =f.input :password_confirmation, input_html: {class: "form-control", placeholder: "Password Confirmation"}, label: false
      =f.input :firstname, input_html: {class: "form-control", placeholder: "First Name"}, label: false
      =f.input :lastname, input_html: {class: "form-control", placeholder: "Last Name"}, label: false
      .text-center
        button.btn.btn-primary type="submit" Sign Up
  .text-center
    h5.text-muted
      | Already have account?
      =link_to " Sign In", new_user_session_path
