=render 'shared/header'
.container.search-page
  .row
    .col-xs-12
      = form_tag "/search", class: "ex-search-form", method: "get"  do |f|
        =text_field_tag :search, @search,class: "form-control"
        button.btn.default.btn-primary type="submit" Search
  .row
    .col-xs-12
      h4.ex-page-title Experts
  .row
    -if @nothing_found
      .col-xs-12
        h5 Nothing found
    -else
      = render @users
