- interlocutor = conversation.interlocutor(current_user)
- last_message = conversation.messages.first
-if interlocutor.present? && last_message.present?
  .conversation-item
    .row.start-xs
      .col-xs-3
        =link_to user_path(interlocutor) , class: 'ex-contact' do 
          -if interlocutor.try(:avatar).blank?
            =image_tag "default-profile-img.png", class: "ex-avatar rounded"
          -else
            =image_tag interlocutor.avatar, class: "ex-avatar rounded"
          h3 #{interlocutor.fullname}
      .col-xs-2
        p.ex-default-label #{last_message.message_date}
      .col-xs-7
        p.dot-ellipsis.dot-height-120 #{nl2br(last_message.body)}
        =link_to "Open Chat",conversation_path(conversation)
