=render 'shared/header'
.container.main-cont
  .row.center-xs
    .col-xs-12.col-md-8.ex-card-box
      -if @conversations.count > 0
        .conversation-box
          = render @conversations
      -else
        h2 You have no messages yet
