=render 'shared/header'
.container.main-cont.chat
  .row.center-xs
    .col-xs-9
      .row.center-xs
        .col-xs-12.col-md-8.chat-header
          h2 #{@interlocutor.fullname}
      .row.end-xs
        .col-xs-2
          - if current_user.expert?
            .ex-contact style="text-align: left"
              -if current_user.avatar.blank?
                =image_tag "default-profile-img.png", class: "ex-avatar"
              -else
                =image_tag current_user.avatar, class: "ex-avatar"
        .col-xs-8
          =semantic_form_for(@message ||= Message.new, url: user_messages_path(@interlocutor), remote: true, :html => {class: "message-form", role: :form, 'data-model' => 'message',:'data-type' => 'json',:'data-user-id' => @interlocutor.id, :enctype => "multipart/form-data"}) do |f|
            =f.input :body, as: "text", input_html: {class: "form-control", rows: "5"}, label: false
            .row.end-xs
              .col-xs-5
                button.btn.btn-success type="submit" Send Message
      .messages-cont
        =render @messages

javascript:
  $('#message_body').val(message_store.getMessage(#{@interlocutor.id}))
