.col-xs-12.col-sm-6.col-md-4
  .ex-card-box.card-profile
    .row.card-profile-title
      = link_to user_path(user) do
        .col-xs-4
          -if user.avatar.blank?
            =image_tag "default-profile-img.png", class: "ex-avatar"
          -else
            =image_tag user.avatar, class: "ex-avatar"
        .col-xs-8.card-profile-name-cont
          h3.card-profile-name #{user.fullname}
          .ex-italic-label #{placeholder_if_empty(user.position, "Current Role")}
          //div.ex-badge.ex-cost-badge Cost per 30min:
    .row
      .col-xs-12
        .ex-rating-bar
          p
            |Rating
            span.text-success.pull-right 93%
          .progress.progress-success
            .progress-bar aria-valuemax="100" aria-valuemin="0" aria-valuenow="93" role="progressbar" style=("width: 93%;")
    .row.card-profile-body
      .col-xs-12
          p #{user.keywords}
