=render 'shared/header'
.container.main-cont
  .row.center-xs
    .col-xs-12.col-md-12.col-lg-9.ex-card-box.full-profile
      =semantic_form_for(@user, url: create_expert_users_path, html: {class: "no-json-form expert-form"}) do |f|
        .row.start-xs
          .col-xs-12.col-sm-4
            .full-profile-avatar-box
              .ex-avatar-placeholder style="#{'background-image: url('+image_url(@user.avatar_url)+')'}"
                h2 Add a photo
                = f.input :avatar, label: false, input_html: {accept: "image/*"}
                -if @user.avatar.blank?
                  =image_tag "default-profile-img.png", class: "ex-avatar"
                -else
                  =image_tag @user.avatar, class: "ex-avatar"

          .col-xs-12.col-sm-8.full-profile-description
            .full-profile-header-box
              = f.input :firstname, input_html: {class: "ex-live-field"}, label: "First name"
              = f.input :lastname, input_html: {class: "ex-live-field"}, label: "Last name"
            .ex-italic-label
              = f.input :position, input_html: {class: "ex-live-field"}, label: "Current Role"
            .ex-italic-label
              = f.input :phone, input_html: {class: "ex-live-field"}, label: "Phone"

              .ex-circle-meta
                | 9.3
                .ex-circle-meta-label rating

            .full-profile-box
              h3 Key expertise:
              p
                =f.input :keywords, as: "text", input_html: {class: "ex-live-field", rows: 4, style: "min-width: 80%;"}, label: false

            .full-profile-box
              h3 About me:
              p
                =f.input :description, as: "text", input_html: {class: "ex-live-field", rows: 6, style: "min-width: 80%;"}, label: false
            .full-profile-submit-button
              button.btn.btn-success.default type="submit" Update Profile
