=render 'shared/header'
.container.main-cont
  .row.center-xs
    .col-xs-12.col-sm-12.col-md-9
      =render "users/#{@user.role}/full_profile", user: @user
    .col-xs-12.col-sm-12.col-md-3
      .profile-sidebar
        .ex-buttons-group
          - if can?(:create, Message) && @user.expert? && !current_user.expert?
            = link_to 'Message Expert',new_user_message_path(@user), class: "btn btn-success modal-trigger", data: {:'target-id' => 'message-form'}
          - if !user_signed_in?
            = link_to 'Message Expert',new_user_message_path(@user), class: "btn btn-success"
          - if can? :update, @user
            =link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-success"
          - if can?(:new, Request) && @user.expert?
            =link_to 'Book Expert', new_user_request_path(@user), class: "btn btn-success"
