*
  outline: none !important

body
  font-family: $main-font
  font-weight: $default-font-weight
  font-size: $default-font-size
  background-color: $background-color
  height: auto
  min-height: 100%

html
  position: relative
  min-height: 100%
  font-size: $default-font-size
  background-color: $background-color

ol, ul
  list-style-type: none
  margin: 0px
  padding: 0px
li
  list-style-type: none

abbr[title=required]
  display: none
