.btn
  +fontSize(18px)
  letter-spacing: 0.07rem
  display: inline-block
  padding: 8px 12px
  margin-bottom: 0
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: $default-border-radius
  color: $font-white
  width: 100%
  &.default
    width: auto
    padding: 12px 24px
    +fontSize(18px)
  &.btn-primary
    background-color: $primary-button-color
    border-color: $primary-button-color
  &.btn-success
    background-color: $main-color
    border-color: $main-color
