.form-control
  transition: border-color 0.3s ease
  background-color: $page-background-color
  border: 1px solid $default-border-color
  border-radius: $default-border-radius
  color: #565656
  padding: 7px 12px
  height: 38px
  max-width: 100%
  box-shadow: none
  transition: all 300ms linear
  margin-bottom: 15px
  &:focus
    border-color: $main-color
  &[type=file]
    border: none

input
  width: 100%
  box-sizing: border-box

.form-header
  margin-bottom: 20px

.help-block
  text-align: center
  margin-bottom: 5px
  color: $danger-color

.has-error
  border-color: $danger-color !important

fieldset
  border: none
  margin: 0
  padding: 0

.form-label
  margin: 0px
  margin-top: 4px
  display: inline-block
  vertical-align: bottom

.form-header
  margin-bottom: 20px

#error_explanation h2
  display: none

.inline-errors
  display: none

.no-json-form
  div.error
    position: relative
    padding-top: 35px
  li.error
    position: relative
    padding-top: 35px
    .form-control
      border-color: $danger-color

  .inline-errors
    display: block
    color: $danger-color
    position: absolute
    top: 0px
    width: 100%
    text-align: center

.modal-form, .message-modal-form
  h1
    margin-top: -10px
