
h1,
h2,
h3,
h4,
h5,
h6
  color: $font-light-dark-grey
  margin: 10px 0
  font-weight: normal
  letter-spacing: 0.08rem

h1
  line-height: 43px

h2
  line-height: 35px

h3
  line-height: 30px

h3 small
  color: $font-dark-grey

h4
  line-height: 22px
  +fontSize(18px)

h4 small
  color: $font-dark-grey

h5
  +fontSize(15px)
  letter-spacing: 0.06rem

h5 small
  color: $font-dark-grey

p
  line-height: 1.6
  color: $font-light-dark-grey

.text-grey
  color: $font-grey !important

.text-success
  color: $main-color  

a
  color: $main-color
  text-decoration: none
  &:hover
    text-decoration: none
  &:focus
    text-decoration: none
