h1 New Request
p Form: #{@request.user.fullname} (#{@request.user.email})
p To:   #{@request.expert.fullname} (#{@request.expert.email})
h3 Request Info
p
  h4 Phone:
  | #{@request.phone}
p
  h4 Timezone:
  | #{@request.timezone}
p
  h4 Available:
  | #{nl2br(@request.availability)}
p
  h4 Info: 
  | #{nl2br(@request.info)}
