=semantic_form_for([@user,@request], html: {class: "no-json-form"}) do |f|
  .row.end-md
    .col-md-3.col-xs-12
      h3.form-label Timezone:
    .col-md-9.col-xs-12
      =f.input :timezone, input_html: {class: "form-control", placeholder: "e.g. \"US Central Time\", \"NYC\"", value: current_user.timezone}, label: false

    .col-md-3.col-xs-12
      h3.form-label Phone:
    .col-md-9.col-xs-12
      =f.input :phone, input_html: {class: "form-control", value: current_user.phone}, label: false

    .col-md-3.col-xs-12
      h3.form-label style="margin-top: -4px" What dates and times are you available to speak with the expert?
    .col-md-9.col-xs-12
      =f.input :availability, as: "text", input_html: {class: "form-control", rows: "5"}, label: false

    .col-md-3.col-xs-12
      h3.form-label Additional Information:
    .col-md-9.col-xs-12
      =f.input :info, as: "text", input_html: {class: "form-control", rows: "7"}, label: false
  .row.center-xs
    .col-md-12.text-center
      button.btn.default.btn-primary type="submit" Send Request
