=render 'shared/header'
.container.main-cont
  .row.center-xs
    .col-xs-12.col-md-12.col-lg-9.ex-card-box
      h1.form-header You're requesting time to speak with #{@user.firstname}
      =render "form", user: @user
