@font-face
  font-family:  'Proxima Nova'
  src: font-url('ProximaNova-Light.eot')
  src: font-url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),font-url('ProximaNova-Light.svg#icomoon') format('svg'),font-url('ProximaNova-Light.woff') format('woff'),font-url('ProximaNova-Light.otf') format('opentype')
  font-weight: lighter
  font-style: normal

@font-face
  font-family:  'Proxima Nova'
  src: font-url('ProximaNova-Reg.eot')
  src: font-url('ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),font-url('ProximaNova-Reg.svg#icomoon') format('svg'),font-url('ProximaNova-Reg.woff') format('woff'),font-url('ProximaNova-Reg.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family:  'Proxima Nova'
  src: font-url('ProximaNova-Bold.eot')
  src: font-url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),font-url('ProximaNova-Bold.svg#icomoon') format('svg'),font-url('ProximaNova-Bold.woff') format('woff'),font-url('ProximaNova-Bold.otf') format('opentype')
  font-weight: bold
  font-style: normal

$main-font: 'Proxima Nova'
$default-font-weight: normal
$default-font-size:   16px
