@import "bourbon"

=centrify($switcher: "both")
  @if $switcher == "both"
    top: 50%
    left: 50%
    +transform(translateX(-50%) translateY(-50%))
  @else if $switcher == "height"
    top: 50%
    +transform(translateY(-50%))
  @else if $switcher == "width"
    left: 50%
    +transform(translateX(-50%))


=filter($function: none)
  -webkit-filter: $function
  -moz-filter:    $function
  -ms-filter:     $function
  -o-filter:      $function
  filter:         $function

=fullsize-canvas()
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%

=grey-cover($opacity: 0.35)
  content: ''
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background: rgba(76,76,76,$opacity)

=MQ($canvas)
  @if $canvas == S
    @media only screen and (max-width: $S)
      @content
  @else if $canvas == M
    @media only screen and (max-width: $M)
      @content
  @else if $canvas == L
    @media only screen and (max-width: $L)
      @content
  @else if $canvas == XL
    @media only screen and (max-width: $XL)
      @content


@function calculateRem($size)
  $remSize: $size / 16px
  @return #{$remSize}rem

=fontSize($size)
  font-size: $size
  font-size: calculateRem($size)

@function calculateRem($size)
  $remSize: $size / 16px
  @return #{$remSize}rem

=clearfix
  &:after
    content: ""
    display: table
    clear: both
