.alert
  position: absolute
  top: $header-height + 6px
  z-index: 1
  width: 80%
  left: 50%
  transform: translateX(-50%)
  text-align: center
  +fontSize(18px)
  +MQ(M)
    top: $header-height
    left: 0
    transform: none
    width: 100%
