.dropdown
  .dropdown-menu
    right: 0px
    left: auto
    &>li
      &>a
        padding: 4px 20px
        font-size: 16px
        +MQ(L)
          padding: 6px 20px
          font-size: 20px
        +MQ(M)
          padding: 6px 20px
          font-size: 22px
  .dropdown-toggle
    color: $font-white
  .carret
    margin-left: 5px
