.ex-background
  background-image: image-url("bg_register.jpg")
  position: absolute
  height: 100%
  min-height: 100%
  width: 100%
  min-width: $container-min-width
  background-size: cover
  background-position: center bottom
  &.background-search-page
    background-image: image-url("bg_search.jpg")
    background-position: center center
  &.account-pages
    background-image: image-url("bg_register.jpg")
