.ex-search-form
  text-align: center
  margin-top: 60px
  margin-bottom: 40px

  +MQ(M)
    margin-top: 20px
    margin-bottom: 15px

  .form-control
    vertical-align: top
    padding: 10px 15px
    height: 51px
    width: 76%
    display: inline-block
    font-size: 18px
    border-radius: 2px 0px 0px 2px
    +MQ(M)
      width: 70%
  button
    border-radius: 0px 2px 2px 0px
    vertical-align: top
    display: inline-block
