.container
  position: relative
  display: block
  margin: 0 auto
  width: $container-width
  min-width: $container-min-width
  max-width: $container-max-width

.main-cont
  margin-top: 40px

.text-center
  @extend .clearfix
  text-align: center

.centered-wrapper
  position: relative
  z-index: 1
  text-align: center
  display: block
  margin: 10% auto
  h1
    margin-bottom: 30px
