.auth-wrapper
  margin: 0 auto
  padding: 5% 10px
  position: relative
  width: $container-min-width
  box-sizing: border-box

  .ex-card-box
    margin-top: 40px
    .ex-default-label
      margin: 25px 0px 10px 4px
  .form-item
    text-align: center
    input[type="radio"]
      margin-left: -25px
      margin-top: 3px
