.card-profile
  position: relative
  .card-profile-title
    .card-profile-name-cont
      padding-left: 0.25rem
    .card-profile-name
      margin: 0px
    .ex-italic-label
      margin-top: -1px
      margin-left: -2px

  .card-profile-body
    margin-top: 20px

  .ex-cost-badge
    position: relative
    bottom: 0px
    left: 0px
    color: $font-white
    +fontSize(13px)
    transform: none
    padding: 6px 11px
    margin-top: 7px

  .ex-rating-bar
    display: none
    margin-top: 10px
