$message-margin: 25px
$header-margin: 30px
$form-margin: 60px
$message-width: 90%
$avatar-max-width: 90px

.chat
  position: relative
  .chat-header
    margin-bottom: $header-margin
  .ex-default-label
    line-height: 28px
    +fontSize(18px)
  .ex-contact
    text-align: right
    .ex-avatar
      max-width: $avatar-max-width
      border-radius: $default-border-radius
  .chat-item-cont
    margin-bottom: $message-margin
  .chat-message
    width: $message-width
    &.message-from-expert
      background-color: $font-white
      float: right
    &.message-from-user
      background-color: $dark-white
      float: left

  .message-form
    margin-bottom: $form-margin
    li
      text-align: right
    textarea
      width: 90%
      display: inline-block
