.conversation-box
  position: relative
  width: 100%
  .conversation-item
    padding: 20px 10px 10px 20px
    border-bottom: 1px solid #ddd
    margin: 0px 15px 20px 15px
    &:last-of-type
      border-bottom: none
      margin-bottom: 0px    
    .conversation-message
      position: relative
    .ex-default-label
      line-height: 28px
      +fontSize(18px)
