.full-profile
  position: relative
  .ex-circle-meta
    display: none
    position: absolute
    right: -13%
    top: -4px
    +MQ(M)
      right: -7%
  .ex-italic-label
    margin-top: -10px
    margin-bottom: 20px
    input
      min-width: 50%
  .ex-avatar
    margin: 0 auto
    margin-bottom: 30px
    display: block
  .full-profile-name
    position: relative
    display: inline-block
    margin-top: 2px

  .full-profile-contacts
    .ex-default-label
      margin-top: 5px
      &.mobile
        i
          margin-left: 3px
          margin-top: 4px
          margin-right: 12px
          font-size: 20px

  .full-profile-description
    padding-right: 10%

  .full-profile-header-box
    position: relative
    padding-right: 10%
    li
      display: inline-block
      max-width: 47%
      margin-bottom: 35px
      &:first-of-type
        margin-right: 2%
      input
        color: $font-light-dark-grey
        +fontSize(28px)
        line-height: 34px
        width: 100%

  .full-profile-box
    position: relative
    padding-top: 8px
    h3
      margin: 3px 0px
  .full-profile-avatar-box
    position: relative
    padding-bottom: 20px

  .full-profile-submit-button
    text-align: right
    margin-top: 20px
    margin-right: 20%

  .inline-errors
    text-align: left
