header
  position: relative
  background-color: transparent
  border: 0
  -webkit-transition: all .5s ease
  transition: all .5s ease
  min-height: $header-height
  min-width: $container-min-width
  background: $bg-header
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02)
  .ex-horizontal-nav
    float: right
    line-height: $header-height
