.hero-block
  position: relative
  width: 100%
  min-width: $container-min-width
  height: 565px
  overflow: hidden
  .ex-background
    &:before
      +grey-cover(0.25)
  .hero-block-text
    position: absolute
    +centrify
    width: 65%
    text-align: center
    margin-top: -15px
    +MQ(L)
      width: 75%
    +MQ(M)
      width: 90%
    &.top
      margin-top: -100px
    &.bottom
      margin-top: 80px
    h1
      color: $font-white
      +fontSize(52px)
      line-height: 64px
      +MQ(M)
        +fontSize(42px)
        line-height: 52px
    h3
      color: $font-white
      font-weight: bold      
  &.search-block
    h1
      display: inline-block
      background: #000
      padding: 1.2% 4.2%
    h3
      display: inline-block
      background: #777777
      padding: 1.2% 4.2%
