=render 'shared/header'
.ex-background.account-pages
.auth-wrapper
  = render 'devise/form_header'
  .ex-card-box.strong-shadow
    .text-center
      h4.text-uppercase.form-header Sign In
    =semantic_form_for resource, as: resource_name, url: session_path(resource_name), url: new_user_session_path, remote: true, :html => {:id => 'login_user', role: :form, 'data-model' => 'user', :'data-type' => 'json'} do |f|
      =f.input :email, input_html: {class: "form-control", placeholder: "Email"}, label: false
      =f.input :password, input_html: {class: "form-control", placeholder: "Password"}, label: false
      .text-center
        button.btn.btn-primary type="submit" Sign In
    =link_to new_user_password_path, class: "ex-default-label" do
      i.fa.fa-lock
      | Forgot your password?
  .text-center
    h5.text-muted
      | Don't have an account?
      =link_to " Sign Up", new_user_registration_path
