=semantic_form_for(user, html: {class: "no-json-form"}) do |f|
  .row.end-md
    .col-md-3.col-xs-12
      h3.form-label Photo:
    .col-md-9.col-xs-12
      =f.input :avatar, input_html: {class: "form-control"}, label: false
    .col-md-3.col-xs-12
      h3.form-label First Name:
    .col-md-9.col-xs-12
      =f.input :firstname, input_html: {class: "form-control"}, label: false

    .col-md-3.col-xs-12
      h3.form-label Last Name:
    .col-md-9.col-xs-12
      =f.input :lastname, input_html: {class: "form-control"}, label: false

    .col-md-3.col-xs-12
      h3.form-label Timezone:
    .col-md-9.col-xs-12
      =f.input :timezone, input_html: {class: "form-control", placeholder: "e.g. \"US Central Time\", \"NYC\""}, label: false

    .col-md-3.col-xs-12
      h3.form-label Phone:
    .col-md-9.col-xs-12
      =f.input :phone, input_html: {class: "form-control"}, label: false

  .row.center-xs
    .col-xs-12.text-center
      button.btn.default.btn-primary type="submit" Update Profile
