.ex-avatar-placeholder
  .ex-avatar
    visibility: hidden
    margin: 0px !important
  border: 1px dashed $font-light-grey
  background-size: cover
  background-position: center center
  cursor: pointer
  &:hover
    border-color: $main-color
    h2
      color: $main-color
  h2
    position: absolute
    text-align: center
    width: 100%
    top: 50%
    transform: translateY(-100%)
    margin: 0px !important
  li
    display: none
