.ex-badge
  display: inline-block
  min-width: 10px
  padding: 3px 7px
  font-size: 12px
  font-weight: 700
  line-height: 1
  color: $font-white
  text-align: center
  white-space: nowrap
  vertical-align: middle
  background-color: $primary-button-color
  border-radius: 2px
  .ex-badge-danger
    background-color: $danger-color
  .ex-badge-success
    background-color: $main-color
