$size: 58px

.ex-circle-meta
  display: inline-block
  width: $size
  height: $size
  border-radius: 50%
  box-sizing: border-box
  border: 1px solid $main-color
  +fontSize(18px)
  color: $main-color
  line-height: $size
  cursor: pointer
  text-align: center
  &.filed
    background: $main-color
    color: $font-white
  .ex-circle-meta-label
    position: absolute
    bottom: -42px
    width: 100%
    letter-spacing: 0.04rem
    +fontSize(14px)
