.ex-card-box
  padding: 20px
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02)
  border-radius: $default-border-radius
  background-clip: padding-box
  margin-bottom: 20px
  background-color: $page-background-color
  &.strong-shadow
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02)
